* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  html{
    display: table;
    margin: auto;
}



.heading2{
    margin-left: 10px;
    padding-bottom: 20px;
}

.container{
    width: 1000px;
  
}

.leftside{
    float: left;
    width: 600px;
    padding: 10px;

}

p{
    text-align: justify;
    line-height: 30px;
}
.rightside{
    float: left;
    width: 400px;
    padding: 10px;
}
  .personal{
  height: 100%;  
  width: 100%;
  padding: 10px;
  border-radius: 20%;
}

#root100{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}


body{
    background-color:#e8d3b9;
    width: auto;
    font-family: 'Gloria Hallelujah', cursive;
    min-width: 1200px;
    color:black;
}
.contant1{
    width:280px;
    float:left;
    padding: 10px 20px 120px 20px;
    margin: 5px;
    background-color: #E1A140;
    box-shadow: 5px 10px rgb(83, 78, 78);
    border-radius: 10%;
}
.contant2{
    width:280px;
    float:left;
    padding: 10px 20px 120px 20px;
    margin: 5px;
    background-color: #E1A140;
    box-shadow: 5px 10px rgb(83, 78, 78);
    border-radius: 10%;
}
.contant3{
    width:280px;
    float:left;
    padding: 10px 20px 120px 20px;
    margin: 5px;
    background-color: #E1A140;
    box-shadow: 5px 10px rgb(83, 78, 78);
    border-radius: 10%;
}
.contant4{
    width:280px;
    float:left;
    padding: 10px 20px 120px 20px;
    margin: 5px;
    background-color: #E1A140;
    box-shadow: 5px 10px rgb(83, 78, 78);
    border-radius: 10%;
}

.contant1 img{
  width:240px;
  height:220px;
  padding:10px;
  border-radius:10%;
  border: 1px solid black;
}

.contant2 img{
  width:240px;
  height:220px;
  padding:10px;
  border-radius:10%;
  border: 1px solid black;
}

.contant3 img{
  width:240px;
  height:220px;
  padding:10px;
  border-radius:10%;
  border: 1px solid black;
}

.contant4 img{
  width:240px;
  height:220px;
  padding:10px;
  border-radius:10%;
  border: 1px solid black;
}

ul{
    text-align: center;
    list-style:none;
    text-shadow:1px 1px  grey;
}
li{
    padding:5px 0px 5px 0px;
}

